@model ProductionCompany

@{
    ViewData["Title"] = "Create a Production";
}

<h1 class="bg-info text-white">Create a Production</h1>
<a asp-action="Index" class="btn btn-secondary">View all Productions</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Logo"></label>
        <input type="file" asp-for="Logo" class="form-control" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnnualRevenue"></label>
        <input type="text" asp-for="AnnualRevenue" class="form-control" />
        <span asp-validation-for="AnnualRevenue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstablishmentDate"></label>
        <input type="date" asp-for="EstablishmentDate" class="form-control" />
        <span asp-validation-for="EstablishmentDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

