@{
    ViewData["Title"] = "Xaero - Entity Framework Core Advanced Project";
}

<div class="text-center">
    <h1 class="display-4">Xaero - Entity Framework Core Advanced Project</h1>
    <p>Make sure you have performed Migrations then follow the below links:</p>
    <ul class="list-group">
        <li class="list-group-item bg-warning">1. <a asp-controller="Production" asp-action="Index">CRUD Production</a></li>
        <li class="list-group-item bg-warning">2. <a asp-controller="Movie" asp-action="Index">CRUD Movie</a></li>
        <li class="list-group-item bg-warning">3. <a asp-controller="Distribution" asp-action="Index">CRUD Distribution</a></li>
        <li class="list-group-item bg-warning">Read the full tutorial - <a target="_blank" href=https://www.yogihosting.com/xaero-project-entity-framework-core/">Xaero – Entity Framework Core Advanced Project</a></li>
    </ul>
</div>

<div class="text-center">
    <h1 class="display-5">This tutorial is a part of <b>Entity Framework Core</b> series.</h1>
    <ul class="list-group">
        <li class="list-group-item">1. <a target="_blank" href="https://www.yogihosting.com/introduction-entity-framework-core/" rel="noopener noreferrer">Introduction to Entity Framework Core</a></li>
        <li class="list-group-item">2. <a target="_blank" href="https://www.yogihosting.com/install-entity-framework-core/" rel="noopener noreferrer">Installation of Entity Framework Core</a></li>
        <li class="list-group-item">3. <a target="_blank" href="https://www.yogihosting.com/database-first-approach-entity-framework-core/" rel="noopener noreferrer">Database-First approach in Entity Framework Core</a></li>
        <li class="list-group-item">4. <a><a target="_blank" href="https://www.yogihosting.com/dbcontext-entity-framework-core/">DbContext Class in Entity Framework Core</a></li>
        <li class="list-group-item">5. <a target="_blank" href="https://www.yogihosting.com/code-first-entity-framework-core/" rel="noopener noreferrer">Code-First Approach in Entity Framework Core</a></li>
        <li class="list-group-item">6. <a target="_blank" href="https://www.yogihosting.com/migrations-entity-framework-core/" rel="noopener noreferrer">Migrations in Entity Framework Core</a></li>
        <li class="list-group-item">7. <a target="_blank" href="https://www.yogihosting.com/insert-records-entity-framework-core/" rel="noopener noreferrer">Insert Records in Entity Framework Core</a></li>
        <li class="list-group-item">8. <a target="_blank" href="https://www.yogihosting.com/read-records-entity-framework-core/" rel="noopener noreferrer">Read Records in Entity Framework Core</a></li>
        <li class="list-group-item">9. <a target="_blank" href="https://www.yogihosting.com/update-records-entity-framework-core/" rel="noopener noreferrer">Update Records in Entity Framework Core</a></li>
        <li class="list-group-item">10. <a target="_blank" href="https://www.yogihosting.com/delete-records-entity-framework-core/" rel="noopener noreferrer">Delete Records in Entity Framework Core</a></li>
        <li class="list-group-item">11. <a target="_blank" href="https://www.yogihosting.com/conventions-entity-framework-core/" rel="noopener noreferrer">Conventions in Entity Framework Core</a></li>
        <li class="list-group-item">12. <a target="_blank" href="https://www.yogihosting.com/configurations-entity-framework-core/" rel="noopener noreferrer">Configurations in Entity Framework Core</a></li>
        <li class="list-group-item">13. <a target="_blank" href="https://www.yogihosting.com/fluent-api-entity-framework-core/" rel="noopener noreferrer">Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">14. <a target="_blank" href="https://www.yogihosting.com/fluent-api-one-to-many-relationship-entity-framework-core/" rel="noopener noreferrer">Configure One-to-Many relationship using Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">15. <a target="_blank" href="https://www.yogihosting.com/fluent-api-one-to-one-relationship-entity-framework-core/" rel="noopener noreferrer">Configure One-to-One relationship using Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">16. <a target="_blank" href="https://www.yogihosting.com/fluent-api-many-to-many-relationship-entity-framework-core/" rel="noopener noreferrer">Configure Many-to-Many relationship using Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">17. <a target="_blank" href="https://www.yogihosting.com/raw-sql-queries-entity-framework-core/" rel="noopener noreferrer">Execute Raw SQL Queries using FromSqlRaw() method in Entity Framework Core</a></li>
        <li class="list-group-item">18. <a target="_blank" href="https://www.yogihosting.com/stored-procedures-entity-framework-core/" rel="noopener noreferrer">Execute SQL Stored Procedures using FromSqlRaw() &amp; ExecuteSqlRawAsync() methods in Entity Framework Core</a></li>
    </ul>
</div>