
@{
    ViewData["Title"] = "Xaero - Entity Framework Core Advanced Project";
}

<h1 class="bg-info text-white">"Xaero" - Entity Framework Core Advanced Project</h1>
<p>1. <a href="/Production" class="text-success" target="_blank">CRUD Production</a></p>
<p>2. <a href="/Movie" class="text-success" target="_blank">CRUD Movie</a></p>
<p>3. <a href="/Distribution" class="text-success" target="_blank">CRUD Distribution</a></p>